body {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    background-color: #f9f9f9;
}

section {
    padding: 50px 0;
}

h1, h2 {
    color: #ff6f61;
}

.navbar {
    margin-bottom: 50px;
}

.navbar-brand {
    font-size: 1.5em;
    color: #ff6f61 !important;
}

.navbar-nav .nav-link {
    font-size: 1.2em;
    color: #ff6f61 !important;
    margin: 0 10px;
}

img {
    max-width: 100%;
    height: auto;
}

.card {
    border: none;
}

.card-title {
    color: #ff6f61;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #ff6f61;
}

.hero-image-container {
    width: 100%;
    height: 500px; /* Adjust the height as needed */
    overflow: hidden;
    position: relative;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

